<div class="jumbotron" ng-controller='mainCtrl as main'>
    <div>
        <div class="btn btn-default">
            <a href="@Url.Action("GoogleRedirect")"> OAuth2 </a>
        </div>

        <div class="btn-group" ng-if='main.inited'>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{main.selectedFolder.Name}}<span class="caret"></span></button>

            <ul class="dropdown-menu">
                <li ng-click="main.selectFolder()"><a href="#">Root</a></li>
                <li ng-repeat="folder in main.folders" ng-click="main.selectFolder(folder)"><a href="#">{{folder.Name}}</a></li>
            </ul>
        </div>
    </div>

    <div>User: @ViewBag.User</div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Files</a></li>
        <li role="presentation"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
        <li role="presentation"><a href="#new_folder" aria-controls="new_folder" role="tab" data-toggle="tab">New Folder</a></li>
        <li role="presentation"><a href="#gallery" aria-controls="new_folder" role="tab" data-toggle="tab">Gallery</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="fade tab-pane in active" id="files" ng-if='main.inited'>
            <div>
                <div class="btn btn-default" ng-click="main.refresh()">Refresh</div>
            </div>


            <div ng-repeat="file in main.files" class="file-card">
                <img src="{{file.Thumbnail}}" alt="" class="img-thumbnail"/>
                <img src="{{file.IconLink}}" alt="" class="img-thumbnail"/>
                <img src="{{file.WebViewLink}}" alt="" class="img-thumbnail"/>

                <div class="file-card_title"><b>Name: </b>{{file.Name}}
                </div>
                <div class="file-card_title"><b>Type: </b>{{file.FileExtension}}
                </div>
                <div class="file-card_title">
                    <b>Description: </b>{{file.Description}}
                </div>
                <div class="file-card_title"><b>Parents: </b>{{file.Parents}}
                </div>
                <div>
                    <span class="glyphicon glyphicon-trash file-card_icon" aria-hidden="true" ng-click="main.deleteFile(file.Id)"></span>
                    <span class="glyphicon glyphicon-save file-card_icon" aria-hidden="true" ng-if="file.WebContentLink" ng-click="main.download(file)"></span>
                    <span class="glyphicon glyphicon-share file-card_icon" aria-hidden="true" ng-click="main.share(file.Id)"></span>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="fade tab-pane" id="upload">
            @Html.Partial("UploadFile")
        </div>

        <div role="tabpanel" class="fade tab-pane" id="new_folder">
            @Html.Partial("NewFolder")
        </div>

        <div role="tabpanel" class="fade tab-pane" id="gallery">
            @Html.Partial("Gallery")
        </div>
    </div>
    @*<div>
        <img src="https://drive.google.com/file/d/0B3wIS201K7UVdTNwQWhnT1g0QUE/view?usp=drivesdk" alt/>
    </div>*@
</div>
@section scripts{
    @Scripts.Render("~/bundles/js");
}
